@import "variables";

// Set your colors

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.button, .title, .subtitle {
    text-transform: uppercase;
}

.icon {
    vertical-align: middle;
}
