@import "variables";

// Set your colors

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    min-height: 100vh;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.button, .title, .subtitle {
    text-transform: uppercase;
}

.icon {
    vertical-align: middle;
}

.fullheight {
    height: 100%;
}

.fullwidth {
    width: 100%;
}

.align-right {
    justify-content: flex-end;
}

.logo {
    max-width: 150px;
    padding: .75rem;
}

.datepicker-row {
    height: 39px;
}

.preview-image {
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 0.5rem;
    margin-right: auto;
    margin-left: auto;
}